### 导入必要的库

In [4]:
import pandas as pd
import numpy as np

### 载入数据

In [5]:
dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [7]:
df

                   A         B         C         D
2013-01-01 -0.496437  0.375818  0.188764 -1.122168
2013-01-02 -0.978189  0.284875 -0.082188  0.874475
2013-01-03  0.084959  0.046849  1.947697  0.358839
2013-01-04  1.173626 -0.326835  0.808914 -2.313546
2013-01-05  0.102692  0.973355 -0.257740  0.758274
2013-01-06 -0.852028 -1.224441 -1.944258 -0.959832

### 选择2013-01-02和2013-01-03两行

In [10]:
df['2013-01-02':'2013-01-03']

                   A         B         C         D
2013-01-02 -0.978189  0.284875 -0.082188  0.874475
2013-01-03  0.084959  0.046849  1.947697  0.358839

In [13]:
df[1:3]

                   A         B         C         D
2013-01-02 -0.978189  0.284875 -0.082188  0.874475
2013-01-03  0.084959  0.046849  1.947697  0.358839

### 选择B、C两列

In [27]:
df.loc[:, 'B':'C']

                   B         C
2013-01-01  0.375818  0.188764
2013-01-02  0.284875 -0.082188
2013-01-03  0.046849  1.947697
2013-01-04 -0.326835  0.808914
2013-01-05  0.973355 -0.257740
2013-01-06 -1.224441 -1.944258

### 选择2013-01-04～2013-01-06的A、B两列

In [36]:
df['2013-01-04':'2013-01-06'][['A', 'B']]

                   A         B
2013-01-04  1.173626 -0.326835
2013-01-05  0.102692  0.973355
2013-01-06 -0.852028 -1.224441

### 选择B、C列均大于0的数据行

In [38]:
mask = (df.B > 0) & (df.C > 0)
mask

2013-01-01     True
2013-01-02    False
2013-01-03     True
2013-01-04    False
2013-01-05    False
2013-01-06    False
Freq: D, dtype: bool

In [39]:
df[mask]

                   A         B         C         D
2013-01-01 -0.496437  0.375818  0.188764 -1.122168
2013-01-03  0.084959  0.046849  1.947697  0.358839